@{
    ViewData["Title"] = "Domínio de email";
}

<div class="container overflow-hidden text-center">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3 border bg-success"> <h4> Escolha o domínio do email para listar os contatos </h4></div>
    </div>
  </div>
</div>

<br/><br/>
<div class="text-center">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <a type="button" class="btn btn-outline-success" asp-controller="Dominio" asp-action="Gmail">Gmail</a>
      <a type="button" class="btn btn-outline-primary" asp-controller="Dominio" asp-action="Hotmail">Hotmail</a>
      <a type="button" class="btn btn-outline-danger" asp-controller="Dominio" asp-action="Outlook">Outlook</a>
      <a type="button" class="btn btn-outline-warning" asp-controller="Dominio" asp-action="Outros">Outros</a>
    </div>
</div>




