@model ContatoModel;
@{
    ViewData["Title"] = "Domínio de email";
}

<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-success" asp-action="Gmail">Gmail</button>
  <button type="button" class="btn btn-outline-primary">Hotmail</button>
  <button type="button" class="btn btn-outline-primary">Outlook</button>
  <button type="button" class="btn btn-outline-primary">Outros</button>
</div>




