@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <div class="d-inline-flex p-2 bg-warning"><h2>Bem vindo!!!!</h2></div>
    <p class="fst-italic fs-3">CRUD ASP.NET em MVC feito na linguagem C# para cadastrar contatos</p>
</div>
