@{
    ViewData["Title"] = "Sobre este projeto";
}

<div class="container overflow-hidden text-center">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3 border bg-success"> <h4> Sobre este projeto </h4></div>
    </div>
  </div>
</div>

<h4>
    <p class="text-center">Esse é um CRUD ASP.NET em MVC</p>
    <p class="text-center">Desenvolvido na linguagem C# usando Entity Framework e o Razor</p>
    <p class="text-center">Foi usado o banco de dados relacional SQL Server</p>
</h4>

